doctype html
html
  head
    
    title= "Http Request"
  
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/font-awesome.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
  
  body
    
    nav.navbar.navbar-light.bg-faded
        a.navbar-brand(href='/')= "Http Request"


    block content
  
    script( src="/javascripts/jquery.js" )
    script( src="/javascripts/bootstrap.js" )